In [1]:
import json
import requests
import pandas as pd

In [2]:
link = "https://raw.githubusercontent.com/WildCodeSchool/java-jsonparse/master/weather.json"

# This function gets the file content from the URL
r = requests.get(link)

# You can access to the text content with this function
r.text

data = json.loads( r.text)

In [3]:
data

{'base': 'stations',
 'clouds': {'all': 90},
 'cod': 200,
 'coord': {'lat': 51.51, 'lon': -0.13},
 'dt': 1485789600,
 'id': 2643743,
 'main': {'humidity': 81,
  'pressure': 1012,
  'temp': 280.32,
  'temp_max': 281.15,
  'temp_min': 279.15},
 'name': 'London',
 'sys': {'country': 'GB',
  'id': 5091,
  'message': 0.0103,
  'sunrise': 1485762037,
  'sunset': 1485794875,
  'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'light intensity drizzle',
   'icon': '09d',
   'id': 300,
   'main': 'Drizzle'},
  {'description': 'clear sky', 'icon': '01n', 'id': 800, 'main': 'Clear'}],
 'wind': {'deg': 80, 'speed': 4.1}}

1. Affiche la valeur de l'attribut name

In [6]:
print('City name:',data['name'])

City name: London

2. Affiche les valeurs des attributs lat et lon de l'élément coord contenu dans la racine

In [7]:
print("Latitude:", data['coord']['lat'])
print("Longitude:", data['coord']['lon'])

Latitude: 51.51
Longitude: -0.13

In [12]:
# autre méthode
for key, value in data['coord'].items():
  print(key, ":", value)

lon : -0.13
lat : 51.51

3. Parcours tous les éléments dans weather et affiche le contenu de main (peut-être avec une boucle ?)

In [8]:
for item in data['weather']:
    print("Weather:", item['main'])

Weather: Drizzle
Weather: Clear

4. Essaye maintenant d'importer ton fichier json dans pandas :

In [9]:
# You can directly read JSON from your request object
print(r.json())

# And you can import JSON object to pandas
pd.json_normalize(r.json())

{'coord': {'lon': -0.13, 'lat': 51.51}, 'weather': [{'id': 300, 'main': 'Drizzle', 'description': 'light intensity drizzle', 'icon': '09d'}, {'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 280.32, 'pressure': 1012, 'humidity': 81, 'temp_min': 279.15, 'temp_max': 281.15}, 'visibility': 10000, 'wind': {'speed': 4.1, 'deg': 80}, 'clouds': {'all': 90}, 'dt': 1485789600, 'sys': {'type': 1, 'id': 5091, 'message': 0.0103, 'country': 'GB', 'sunrise': 1485762037, 'sunset': 1485794875}, 'id': 2643743, 'name': 'London', 'cod': 200}

                                             weather  ...  sys.sunset
0  [{'id': 300, 'main': 'Drizzle', 'description':...  ...  1485794875

[1 rows x 23 columns]

5. Filtre maintenant ton DataFrame avec Pandas pour afficher uniquement les colonnes suivantes : main (celui qui est à l'intérieur de weather), name, and visibility.

In [10]:
df = pd.json_normalize(r.json(),  
                  record_path= "weather",
                  meta = ['name','visibility']) 
df[['main','name','visibility']]

      main    name visibility
0  Drizzle  London      10000
1    Clear  London      10000